<h1><span data-i18n="skills.my_skills"><i class="fas fa-question-circle" style="color:#f83e4b"></i>  About</span></h1>

<div>

<p><b>I hope to make a positive impact on the world by improving systems and processes with data.</b> I have worked in public school classrooms, informal learning spaces &amp summer programs for over a decade. I have since contributed to various education nonprofits at levels from individual classrooms to district-wide principal improvement to public policy and curriculum design. </p>

<p>A generalist at heart, I have studied linguistics, earth sciences, astronomy, literature, biology, and behavioral sciences; that said, my enduring passions have been &amp; continue to be learning about learning and helping people become their best selves.</p>

<p> You can find my résumé <a href="https://drive.google.com/file/d/1wrH31th_yPysjqQsydUPyoNwLnEoPRBQ/view?usp=drive_link">here</a>. </p>

</div>