<h1><span data-i18n="skills.my_skills"><i class="fas fa-question-circle" style="color:#f83e4b"></i>  About</span></h1>

<div>

<p> I enjoy improving systems and processes with data . I want to make a positive impact on the world, and .</p>

<p> I graduated from MIT with a B.S. in Physics in 2018, and received an M.Ed. at a competency-based program in Cambridge. I've been working in public school classrooms, informal learning spaces &amp; educational summer programs since 2014. I have since contributed to various nonprofits centered around education. </p>


<p> You can find my résumé here (TODO). </p>

</div>