<h1><span data-i18n="skills.my_skills"><i class="fas fa-question-circle" style="color:#f83e4b"></i>  About</span></h1>

<div>
    A physics major by training, I have since branched out to working at various nonprofits centered around education. I graduated from MIT with a B.S. in Physics in 2018, and received an M.Ed. at a new competency-based program in Cambridge. I've been working in classrooms, informal learning spaces &amp; educational summer programs since 2014. 

    In general, I enjoy improving systems and processes, whether by . I want to make a positive impact on the world, and .

    You can find my résumé here (TODO).
</div>